<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
</head>
<body>

<a th:href="@{/admin/seeProducts}">Sign in as Admin</a>

<a th:href="@{/customer/showProductsToBill}">Sign in as Customer</a>

<h1>Add Product</h1>
<form  th:action="@{/addProduct}" th:object="${product}" method="post">
    <div>
        <label for="name">Product Name:</label>
        <input type="text" id="name"  th:field="*{productName}" />
    </div>
    <div>
        <label for="price">Product Price:</label>
        <input type="text" id="price" th:field="*{productPrice}" />
    </div>
    <div>
        <button type="submit">Add Product</button>
    </div>
</form>

<h2>All Products</h2>
<ul>
    <li th:each="entry : ${products}">
        <span th:text="${entry.key}">Product Name</span>:
        <span th:text="${entry.value}">Product Price</span>
    </li>
</ul>
</body>
</html>
